aws_region     = "us-east-1"
aws_account_id = "123456789012"

jwt_secret          = "REPLACE_WITH_MIN_32_CHAR_SECRET"
admin_jwt_secret    = "REPLACE_WITH_MIN_32_CHAR_ADMIN_SECRET"
db_password         = "REPLACE_WITH_MIN_16_CHAR_DB_PASSWORD"
redis_auth_token    = "REPLACE_WITH_REDIS_AUTH_TOKEN"
factory_contract_id = ""
ipfs_api_key        = ""
ipfs_api_secret     = ""

acm_certificate_arn = "arn:aws:acm:us-east-1:123456789012:certificate/REPLACE"

backend_image_tag  = "v1.0.0"
frontend_image_tag = "v1.0.0"

stellar_network     = "mainnet"
stellar_horizon_url = "https://horizon.stellar.org"
frontend_url        = "https://nova-launch.io"
